*body {
  background: #4c0015;
  color: #f1ded0;
}

.contacto-titulo {
  font-family: "Determination";
  color: #f1ded0;
}

.contacto-container {
  width: 90%;
  max-width: 1100px;
  margin: 40px auto;
  display: grid;
  gap: 40px;
}

.mapa iframe {
  border-radius: 12px;
}

.formulario,
.mapa {
  width: 100%;
}

.formulario form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-label {
  font-family: "Determination";
  color: #f1ded0;
}

.form-control {
  font-size: 15px;
}

.formulario input {
  padding: 10px;
  border-radius: 12px;
  font-size: 15px;
  background: #ffffff;
}

.formulario textarea {
  padding: 10px;
  border-radius: 12px;
  font-size: 15px;
  background: #ffffff;
}

.formulario textarea {
  height: 120px;
  resize: vertical;
}

button {
  padding: 12px;
  border: none;
  background: #17080a;
  color: #ceb09e;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
  font-family: "Determination";
}

button:hover {
  background: #8d7a6e;
  transition: 0.2s;
}

@media (min-width: 850px) {
  .contacto-container {
    grid-template-columns: 1fr 1fr;
  }
}

.mapa iframe {
  width: 100%;
  height: 300px;
  max-width: 100%;
}
